In [47]:
import numpy as np
import pandas as pd

In [48]:
movies=pd.read_csv('D:\\projects\\ML\\content_recomm\\movies_metadata\\movies_metadata.csv')
credits=pd.read_csv('D:\\projects\\ML\\content_recomm\\credits\\credits.csv')
keywords=pd.read_csv('D:\\projects\\ML\\content_recomm\\keywords\\keywords.csv')

C:\Users\riyaa\AppData\Local\Temp\ipykernel_17792\1156161560.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies=pd.read_csv('D:\\projects\\ML\\content_recomm\\movies_metadata\\movies_metadata.csv')

In [49]:
movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [50]:
credits['id']=credits['id'].astype(str)
credits.head(1)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862

In [51]:
keywords['id']=keywords['id'].astype(str)
keywords.head(1)

    id                                           keywords
0  862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...

In [52]:
movies=movies.merge(credits,on='id')
movies=movies.merge(keywords,on='id')

In [53]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [54]:
movies['original_language'].value_counts()

original_language
en    32937
fr     2524
it     1565
ja     1420
de     1111
      ...
jv        1
qu        1
la        1
fy        1
si        1
Name: count, Length: 89, dtype: int64

In [55]:
#these columns will be responsible for recommendation 
movies=movies[['id','title','original_language','overview','genres','keywords','cast','crew']]

In [56]:
movies.isnull().sum()

id                     0
title                  4
original_language     11
overview             995
genres                 0
keywords               0
cast                   0
crew                   0
dtype: int64

In [57]:
movies.dropna(inplace=True)

In [58]:
movies.iloc[0].genres

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [59]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [60]:
import ast

In [61]:
movies['genres']=movies['genres'].apply(convert)

In [62]:
movies['original_language'] = movies['original_language'].apply(lambda x: [lang.strip("'") for lang in x.split(',')])

In [63]:
movies.head(1)

,id,title,original_language,overview,genres,keywords,cast,crew
0,862,Toy Story,[en],"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."

In [64]:
movies['keywords']=movies['keywords'].apply(convert)

In [65]:
def convert3(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!= 3:
            L.append(i['name'])
            counter+=1
        else: break
    return L

In [66]:
movies['cast']=movies['cast'].apply(convert3)
#stores names of first three cast members

In [67]:
movies.head()

,id,title,original_language,overview,genres,keywords,cast,crew
0,862,Toy Story,[en],"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,[en],When siblings Judy and Peter discover an encha...,"[Adventure, Fantasy, Family]","[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,[en],A family wedding reignites the ancient feud be...,"[Romance, Comedy]","[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,[en],"Cheated on, mistreated and stepped on, the wom...","[Comedy, Drama, Romance]","[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devine]","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,[en],Just when George Banks has recovered from his ...,[Comedy],"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short]","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [68]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
    return L

In [69]:
movies['crew']=movies['crew'].apply(fetch_director)

In [70]:
movies.head()

,id,title,original_language,overview,genres,keywords,cast,crew
0,862,Toy Story,[en],"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter]
1,8844,Jumanji,[en],When siblings Judy and Peter discover an encha...,"[Adventure, Fantasy, Family]","[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston]
2,15602,Grumpier Old Men,[en],A family wedding reignites the ancient feud be...,"[Romance, Comedy]","[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret]",[Howard Deutch]
3,31357,Waiting to Exhale,[en],"Cheated on, mistreated and stepped on, the wom...","[Comedy, Drama, Romance]","[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devine]",[Forest Whitaker]
4,11862,Father of the Bride Part II,[en],Just when George Banks has recovered from his ...,[Comedy],"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer]

In [71]:
movies['overview'][0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences."

In [72]:
movies['overview']=movies['overview'].apply(lambda x:x.split())
#converted into lists

In [73]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])
#to remove spaces from words of single list item to avoid ambiguity

In [74]:
movies.head()

,id,title,original_language,overview,genres,keywords,cast,crew
0,862,Toy Story,[en],"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[TomHanks, TimAllen, DonRickles]",[JohnLasseter]
1,8844,Jumanji,[en],"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]","[boardgame, disappearance, basedonchildren'sbo...","[RobinWilliams, JonathanHyde, KirstenDunst]",[JoeJohnston]
2,15602,Grumpier Old Men,[en],"[A, family, wedding, reignites, the, ancient, ...","[Romance, Comedy]","[fishing, bestfriend, duringcreditsstinger, ol...","[WalterMatthau, JackLemmon, Ann-Margret]",[HowardDeutch]
3,31357,Waiting to Exhale,[en],"[Cheated, on,, mistreated, and, stepped, on,, ...","[Comedy, Drama, Romance]","[basedonnovel, interracialrelationship, single...","[WhitneyHouston, AngelaBassett, LorettaDevine]",[ForestWhitaker]
4,11862,Father of the Bride Part II,[en],"[Just, when, George, Banks, has, recovered, fr...",[Comedy],"[baby, midlifecrisis, confidence, aging, daugh...","[SteveMartin, DianeKeaton, MartinShort]",[CharlesShyer]

In [75]:
movies['tags']=movies['genres']+movies['crew']+movies['cast']+movies['keywords']+movies['original_language']

In [76]:
movies.head()

,id,title,original_language,overview,genres,keywords,cast,crew,tags
0,862,Toy Story,[en],"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[TomHanks, TimAllen, DonRickles]",[JohnLasseter],"[Animation, Comedy, Family, JohnLasseter, TomH..."
1,8844,Jumanji,[en],"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]","[boardgame, disappearance, basedonchildren'sbo...","[RobinWilliams, JonathanHyde, KirstenDunst]",[JoeJohnston],"[Adventure, Fantasy, Family, JoeJohnston, Robi..."
2,15602,Grumpier Old Men,[en],"[A, family, wedding, reignites, the, ancient, ...","[Romance, Comedy]","[fishing, bestfriend, duringcreditsstinger, ol...","[WalterMatthau, JackLemmon, Ann-Margret]",[HowardDeutch],"[Romance, Comedy, HowardDeutch, WalterMatthau,..."
3,31357,Waiting to Exhale,[en],"[Cheated, on,, mistreated, and, stepped, on,, ...","[Comedy, Drama, Romance]","[basedonnovel, interracialrelationship, single...","[WhitneyHouston, AngelaBassett, LorettaDevine]",[ForestWhitaker],"[Comedy, Drama, Romance, ForestWhitaker, Whitn..."
4,11862,Father of the Bride Part II,[en],"[Just, when, George, Banks, has, recovered, fr...",[Comedy],"[baby, midlifecrisis, confidence, aging, daugh...","[SteveMartin, DianeKeaton, MartinShort]",[CharlesShyer],"[Comedy, CharlesShyer, SteveMartin, DianeKeato..."

In [77]:
#creating new dataframe
movies_new=movies[['id','title','tags']]

In [78]:
movies_new.head()

,id,title,tags
0,862,Toy Story,"[Animation, Comedy, Family, JohnLasseter, TomH..."
1,8844,Jumanji,"[Adventure, Fantasy, Family, JoeJohnston, Robi..."
2,15602,Grumpier Old Men,"[Romance, Comedy, HowardDeutch, WalterMatthau,..."
3,31357,Waiting to Exhale,"[Comedy, Drama, Romance, ForestWhitaker, Whitn..."
4,11862,Father of the Bride Part II,"[Comedy, CharlesShyer, SteveMartin, DianeKeato..."

In [79]:
movies_new['tags']=movies_new['tags'].apply(lambda x:" ".join(x))

C:\Users\riyaa\AppData\Local\Temp\ipykernel_17792\4235123549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new['tags']=movies_new['tags'].apply(lambda x:" ".join(x))

In [80]:
movies_new.head()

,id,title,tags
0,862,Toy Story,Animation Comedy Family JohnLasseter TomHanks ...
1,8844,Jumanji,Adventure Fantasy Family JoeJohnston RobinWill...
2,15602,Grumpier Old Men,Romance Comedy HowardDeutch WalterMatthau Jack...
3,31357,Waiting to Exhale,Comedy Drama Romance ForestWhitaker WhitneyHou...
4,11862,Father of the Bride Part II,Comedy CharlesShyer SteveMartin DianeKeaton Ma...

In [81]:
movies_new['tags'][0]

'Animation Comedy Family JohnLasseter TomHanks TimAllen DonRickles jealousy toy boy friendship friends rivalry boynextdoor newtoy toycomestolife en'

In [82]:
movies_new['tags']=movies_new['tags'].apply(lambda x:x.lower())

C:\Users\riyaa\AppData\Local\Temp\ipykernel_17792\933172487.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new['tags']=movies_new['tags'].apply(lambda x:x.lower())

In [83]:
movies_new['tags'][1]

"adventure fantasy family joejohnston robinwilliams jonathanhyde kirstendunst boardgame disappearance basedonchildren'sbook newhome recluse giantinsect en"

Model Building

In [84]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [85]:
vectors=cv.fit_transform(movies_new['tags']).toarray()

In [86]:
cv.get_feature_names_out()

array(['17thcentury', '18thcentury', '1910s', ..., 'éricrohmer',
       'özcandeniz', 'моррисчестнат'], dtype=object)

In [87]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [88]:
#to extract the root word from all other forms of words like love,loved,loving
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [89]:
movies_new['tags']= movies_new['tags'].apply(stem)

C:\Users\riyaa\AppData\Local\Temp\ipykernel_17792\650356187.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new['tags']= movies_new['tags'].apply(stem)

In [90]:
from sklearn.metrics.pairwise import cosine_similarity
#similarity gives vakues between 0 and 1 and if we import distances it will guve general values

In [92]:
similarity=cosine_similarity(vectors)
similarity
#indicates similarity of each vector with every other vector 
#therefore for every vector there are 4036 options

MemoryError: Unable to allocate 15.5 GiB for an array with shape (45619, 45619) and data type float64

In [ ]:
import joblib
joblib.dump(similarity, 'similarity_matrix.pkl')

OSError: [Errno 28] No space left on device

In [ ]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])
#sort it in reverse order to obtain vector with maximum resemblemnce

[(0, 1.0),
 (3006, 0.6428571428571429),
 (36989, 0.5976143046671968),
 (15453, 0.583383351196948),
 (21958, 0.5669467095138407),
 (25760, 0.5669467095138407),
 (7490, 0.5345224838248488),
 (11337, 0.5345224838248488),
 (17288, 0.5345224838248488),
 (18448, 0.5345224838248488),
 (27447, 0.5345224838248488),
 (42221, 0.5345224838248488),
 (45303, 0.5345224838248488),
 (45417, 0.5345224838248488),
 (3318, 0.5050762722761053),
 (15100, 0.47809144373375745),
 (22780, 0.47809144373375745),
 (23318, 0.47809144373375745),
 (24057, 0.47809144373375745),
 (25745, 0.47809144373375745),
 (28269, 0.47809144373375745),
 (28497, 0.47809144373375745),
 (30631, 0.47809144373375745),
 (30659, 0.47809144373375745),
 (30696, 0.47809144373375745),
 (30747, 0.47809144373375745),
 (31081, 0.47809144373375745),
 (31084, 0.47809144373375745),
 (32835, 0.47809144373375745),
 (40134, 0.47809144373375745),
 (42220, 0.47809144373375745),
 (44075, 0.47809144373375745),
 (44881, 0.47809144373375745),
 (15138, 0.472455591261534),
 (243, 0.4629100498862758),
 (1931, 0.4629100498862758),
 (5341, 0.4629100498862758),
 (7270, 0.4629100498862758),
 (9316, 0.4629100498862758),
 (12436, 0.4629100498862758),
 (13576, 0.4629100498862758),
 (13960, 0.4629100498862758),
 (15095, 0.4629100498862758),
 (16892, 0.4629100498862758),
 (17171, 0.4629100498862758),
 (17635, 0.4629100498862758),
 (23019, 0.4629100498862758),
 (23719, 0.4629100498862758),
 (24471, 0.4629100498862758),
 (24534, 0.4629100498862758),
 (24784, 0.4629100498862758),
 (25024, 0.4629100498862758),
 (25049, 0.4629100498862758),
 (25459, 0.4629100498862758),
 (25609, 0.4629100498862758),
 (25618, 0.4629100498862758),
 (25758, 0.4629100498862758),
 (26113, 0.4629100498862758),
 (26200, 0.4629100498862758),
 (26274, 0.4629100498862758),
 (26314, 0.4629100498862758),
 (26935, 0.4629100498862758),
 (26939, 0.4629100498862758),
 (27375, 0.4629100498862758),
 (27542, 0.4629100498862758),
 (27728, 0.4629100498862758),
 (28891, 0.4629100498862758),
 (29143, 0.4629100498862758),
 (29568, 0.4629100498862758),
 (29569, 0.4629100498862758),
 (29573, 0.4629100498862758),
 (30651, 0.4629100498862758),
 (30762, 0.4629100498862758),
 (31650, 0.4629100498862758),
 (31749, 0.4629100498862758),
 (32058, 0.4629100498862758),
 (33153, 0.4629100498862758),
 (33258, 0.4629100498862758),
 (34094, 0.4629100498862758),
 (34202, 0.4629100498862758),
 (36995, 0.4629100498862758),
 (37328, 0.4629100498862758),
 (39432, 0.4629100498862758),
 (40127, 0.4629100498862758),
 (40136, 0.4629100498862758),
 (40582, 0.4629100498862758),
 (40687, 0.4629100498862758),
 (40742, 0.4629100498862758),
 (42986, 0.4629100498862758),
 (43251, 0.4629100498862758),
 (43377, 0.4629100498862758),
 (43486, 0.4629100498862758),
 (43957, 0.4629100498862758),
 (43964, 0.4629100498862758),
 (43968, 0.4629100498862758),
 (44148, 0.4629100498862758),
 (44537, 0.4629100498862758),
 (44820, 0.4629100498862758),
 (45285, 0.4629100498862758),
 (45365, 0.4629100498862758),
 (45472, 0.4629100498862758),
 (11658, 0.44543540318737396),
 (695, 0.43643578047198484),
 (1722, 0.43643578047198484),
 (9854, 0.43643578047198484),
 (15667, 0.43643578047198484),
 (17514, 0.43643578047198484),
 (20144, 0.43643578047198484),
 (24512, 0.43643578047198484),
 (24514, 0.43643578047198484),
 (24893, 0.43643578047198484),
 (25168, 0.43643578047198484),
 (25746, 0.43643578047198484),
 (26243, 0.43643578047198484),
 (26807, 0.43643578047198484),
 (26952, 0.43643578047198484),
 (27114, 0.43643578047198484),
 (27442, 0.43643578047198484),
 (27497, 0.43643578047198484),
 (27507, 0.43643578047198484),
 (27612, 0.43643578047198484),
 (30440, 0.43643578047198484),
 (30660, 0.43643578047198484),
 (30686, 0.43643578047198484),
 (30692, 0.43643578047198484),
 (33094, 0.43643578047198484),
 (34224, 0.43643578047198484),
 (36951, 0.43643578047198484),
 (37648, 0.43643578047198484),
 (38269, 0.43643578047198484),
 (38542, 0.43643578047198484),
 (43284, 0.43643578047198484),
 (44827, 0.43643578047198484),
 (45306, 0.43643578047198484),
 (5373, 0.42857142857142866),
 (27340, 0.4285714285714286),
 (1010, 0.42257712736425834),
 (4037, 0.42257712736425834),
 (5282, 0.41403933560541256),
 (367, 0.40406101782088427),
 (1421, 0.40406101782088427),
 (5661, 0.40406101782088427),
 (7781, 0.40406101782088427),
 (8646, 0.40406101782088427),
 (13042, 0.40406101782088427),
 (13214, 0.40406101782088427),
 (13392, 0.40406101782088427),
 (19208, 0.40406101782088427),
 (21458, 0.40406101782088427),
 (22862, 0.40406101782088427),
 (25013, 0.40406101782088427),
 (26241, 0.40406101782088427),
 (26271, 0.40406101782088427),
 (29556, 0.40406101782088427),
 (30537, 0.40406101782088427),
 (30573, 0.40406101782088427),
 (30658, 0.40406101782088427),
 (30683, 0.40406101782088427),
 (30687, 0.40406101782088427),
 (30689, 0.40406101782088427),
 (30690, 0.40406101782088427),
 (31083, 0.40406101782088427),
 (34645, 0.40406101782088427),
 (40605, 0.40406101782088427),
 (40827, 0.40406101782088427),
 (44832, 0.40406101782088427),
 (44877, 0.40406101782088427),
 (4777, 0.4029114820126901),
 (13832, 0.4029114820126901),
 (21420, 0.4029114820126901),
 (791, 0.4008918628686366),
 (1005, 0.4008918628686366),
 (1006, 0.4008918628686366),
 (1927, 0.4008918628686366),
 (2084, 0.4008918628686366),
 (2800, 0.4008918628686366),
 (3177, 0.4008918628686366),
 (3646, 0.4008918628686366),
 (3663, 0.4008918628686366),
 (5962, 0.4008918628686366),
 (6159, 0.4008918628686366),
 (6240, 0.4008918628686366),
 (6381, 0.4008918628686366),
 (8087, 0.4008918628686366),
 (9410, 0.4008918628686366),
 (9609, 0.4008918628686366),
 (9764, 0.4008918628686366),
 (9943, 0.4008918628686366),
 (10047, 0.4008918628686366),
 (10723, 0.4008918628686366),
 (10998, 0.4008918628686366),
 (11278, 0.4008918628686366),
 (11519, 0.4008918628686366),
 (12778, 0.4008918628686366),
 (12858, 0.4008918628686366),
 (13584, 0.4008918628686366),
 (13962, 0.4008918628686366),
 (13990, 0.4008918628686366),
 (14262, 0.4008918628686366),
 (14394, 0.4008918628686366),
 (14418, 0.4008918628686366),
 (15402, 0.4008918628686366),
 (15999, 0.4008918628686366),
 (16880, 0.4008918628686366),
 (16908, 0.4008918628686366),
 (17013, 0.4008918628686366),
 (17248, 0.4008918628686366),
 (18264, 0.4008918628686366),
 (19181, 0.4008918628686366),
 (19234, 0.4008918628686366),
 (20261, 0.4008918628686366),
 (21811, 0.4008918628686366),
 (22097, 0.4008918628686366),
 (22206, 0.4008918628686366),
 (22362, 0.4008918628686366),
 (22907, 0.4008918628686366),
 (23013, 0.4008918628686366),
 (23300, 0.4008918628686366),
 (23317, 0.4008918628686366),
 (23516, 0.4008918628686366),
 (24087, 0.4008918628686366),
 (24317, 0.4008918628686366),
 (24331, 0.4008918628686366),
 (24470, 0.4008918628686366),
 (24513, 0.4008918628686366),
 (24537, 0.4008918628686366),
 (24542, 0.4008918628686366),
 (25115, 0.4008918628686366),
 (25295, 0.4008918628686366),
 (25490, 0.4008918628686366),
 (25783, 0.4008918628686366),
 (25899, 0.4008918628686366),
 (25970, 0.4008918628686366),
 (26036, 0.4008918628686366),
 (26489, 0.4008918628686366),
 (26698, 0.4008918628686366),
 (26916, 0.4008918628686366),
 (27223, 0.4008918628686366),
 (27239, 0.4008918628686366),
 (27384, 0.4008918628686366),
 (27462, 0.4008918628686366),
 (27514, 0.4008918628686366),
 (27614, 0.4008918628686366),
 (28182, 0.4008918628686366),
 (28235, 0.4008918628686366),
 (28706, 0.4008918628686366),
 (28811, 0.4008918628686366),
 (29324, 0.4008918628686366),
 (29565, 0.4008918628686366),
 (29575, 0.4008918628686366),
 (29766, 0.4008918628686366),
 (30680, 0.4008918628686366),
 (30697, 0.4008918628686366),
 (31082, 0.4008918628686366),
 (31187, 0.4008918628686366),
 (31697, 0.4008918628686366),
 (32043, 0.4008918628686366),
 (32292, 0.4008918628686366),
 (32453, 0.4008918628686366),
 (32516, 0.4008918628686366),
 (32550, 0.4008918628686366),
 (32626, 0.4008918628686366),
 (32816, 0.4008918628686366),
 (33333, 0.4008918628686366),
 (33993, 0.4008918628686366),
 (34150, 0.4008918628686366),
 (34370, 0.4008918628686366),
 (34500, 0.4008918628686366),
 (34887, 0.4008918628686366),
 (34990, 0.4008918628686366),
 (36560, 0.4008918628686366),
 (36561, 0.4008918628686366),
 (36960, 0.4008918628686366),
 (37335, 0.4008918628686366),
 (37395, 0.4008918628686366),
 (37747, 0.4008918628686366),
 (37751, 0.4008918628686366),
 (37865, 0.4008918628686366),
 (37908, 0.4008918628686366),
 (38019, 0.4008918628686366),
 (38224, 0.4008918628686366),
 (38238, 0.4008918628686366),
 (38642, 0.4008918628686366),
 (38729, 0.4008918628686366),
 (38791, 0.4008918628686366),
 (39194, 0.4008918628686366),
 (39303, 0.4008918628686366),
 (39707, 0.4008918628686366),
 (40116, 0.4008918628686366),
 (41115, 0.4008918628686366),
 (41648, 0.4008918628686366),
 (41705, 0.4008918628686366),
 (41810, 0.4008918628686366),
 (42180, 0.4008918628686366),
 (43602, 0.4008918628686366),
 (43960, 0.4008918628686366),
 (43962, 0.4008918628686366),
 (43966, 0.4008918628686366),
 (44069, 0.4008918628686366),
 (44077, 0.4008918628686366),
 (44139, 0.4008918628686366),
 (44251, 0.4008918628686366),
 (44388, 0.4008918628686366),
 (44401, 0.4008918628686366),
 (44766, 0.4008918628686366),
 (44930, 0.4008918628686366),
 (45174, 0.4008918628686366),
 (45200, 0.4008918628686366),
 (4641, 0.40089186286863654),
 (17456, 0.40089186286863654),
 (11803, 0.38892223413129867),
 (587, 0.3889222341312986),
 (2455, 0.38575837490522985),
 (11231, 0.38575837490522985),
 (19060, 0.38575837490522985),
 (28705, 0.38575837490522985),
 (30175, 0.37796447300922725),
 (422, 0.3779644730092272),
 (463, 0.3779644730092272),
 (795, 0.3779644730092272),
 (1074, 0.3779644730092272),
 (1725, 0.3779644730092272),
 (2275, 0.3779644730092272),
 (2397, 0.3779644730092272),
 (2779, 0.3779644730092272),
 (2933, 0.3779644730092272),
 (3204, 0.3779644730092272),
 (3212, 0.3779644730092272),
 (3419, 0.3779644730092272),
 (3561, 0.3779644730092272),
 (3736, 0.3779644730092272),
 (4090, 0.3779644730092272),
 (4332, 0.3779644730092272),
 (4665, 0.3779644730092272),
 (5598, 0.3779644730092272),
 (5979, 0.3779644730092272),
 (6723, 0.3779644730092272),
 (6749, 0.3779644730092272),
 (7242, 0.3779644730092272),
 (8285, 0.3779644730092272),
 (8310, 0.3779644730092272),
 (8546, 0.3779644730092272),
 (9150, 0.3779644730092272),
 (9254, 0.3779644730092272),
 (9500, 0.3779644730092272),
 (9966, 0.3779644730092272),
 (10113, 0.3779644730092272),
 (10124, 0.3779644730092272),
 (10391, 0.3779644730092272),
 (10551, 0.3779644730092272),
 (10744, 0.3779644730092272),
 (10875, 0.3779644730092272),
 (10954, 0.3779644730092272),
 (11094, 0.3779644730092272),
 (11264, 0.3779644730092272),
 (11338, 0.3779644730092272),
 (11835, 0.3779644730092272),
 (12200, 0.3779644730092272),
 (13231, 0.3779644730092272),
 (13585, 0.3779644730092272),
 (13737, 0.3779644730092272),
 (13771, 0.3779644730092272),
 (13920, 0.3779644730092272),
 (14287, 0.3779644730092272),
 (14574, 0.3779644730092272),
 (14599, 0.3779644730092272),
 (14851, 0.3779644730092272),
 (15098, 0.3779644730092272),
 (15351, 0.3779644730092272),
 (15655, 0.3779644730092272),
 (15661, 0.3779644730092272),
 (15862, 0.3779644730092272),
 (16256, 0.3779644730092272),
 (16323, 0.3779644730092272),
 (16716, 0.3779644730092272),
 (17109, 0.3779644730092272),
 (17195, 0.3779644730092272),
 (17203, 0.3779644730092272),
 (17510, 0.3779644730092272),
 (17571, 0.3779644730092272),
 (17616, 0.3779644730092272),
 (18091, 0.3779644730092272),
 (18265, 0.3779644730092272),
 (18468, 0.3779644730092272),
 (18493, 0.3779644730092272),
 (18600, 0.3779644730092272),
 (18732, 0.3779644730092272),
 (18798, 0.3779644730092272),
 (18919, 0.3779644730092272),
 (18964, 0.3779644730092272),
 (19024, 0.3779644730092272),
 (19176, 0.3779644730092272),
 (19513, 0.3779644730092272),
 (19744, 0.3779644730092272),
 (19771, 0.3779644730092272),
 (20076, 0.3779644730092272),
 (20081, 0.3779644730092272),
 (20174, 0.3779644730092272),
 (20179, 0.3779644730092272),
 (20200, 0.3779644730092272),
 (20243, 0.3779644730092272),
 (20392, 0.3779644730092272),
 (20425, 0.3779644730092272),
 (20460, 0.3779644730092272),
 (20619, 0.3779644730092272),
 (20730, 0.3779644730092272),
 (20838, 0.3779644730092272),
 (20973, 0.3779644730092272),
 (21050, 0.3779644730092272),
 (21092, 0.3779644730092272),
 (21206, 0.3779644730092272),
 (21739, 0.3779644730092272),
 (22116, 0.3779644730092272),
 (22117, 0.3779644730092272),
 (22306, 0.3779644730092272),
 (22401, 0.3779644730092272),
 (22461, 0.3779644730092272),
 (22483, 0.3779644730092272),
 (22587, 0.3779644730092272),
 (22602, 0.3779644730092272),
 (22795, 0.3779644730092272),
 (22832, 0.3779644730092272),
 (22860, 0.3779644730092272),
 (23064, 0.3779644730092272),
 (23453, 0.3779644730092272),
 (23524, 0.3779644730092272),
 (23557, 0.3779644730092272),
 (23593, 0.3779644730092272),
 (23726, 0.3779644730092272),
 (23788, 0.3779644730092272),
 (23806, 0.3779644730092272),
 (23952, 0.3779644730092272),
 (23960, 0.3779644730092272),
 (24179, 0.3779644730092272),
 (24356, 0.3779644730092272),
 (24377, 0.3779644730092272),
 (24439, 0.3779644730092272),
 (24488, 0.3779644730092272),
 (24521, 0.3779644730092272),
 (24532, 0.3779644730092272),
 (25131, 0.3779644730092272),
 (25151, 0.3779644730092272),
 (25169, 0.3779644730092272),
 (25232, 0.3779644730092272),
 (25244, 0.3779644730092272),
 (25267, 0.3779644730092272),
 (25430, 0.3779644730092272),
 (25510, 0.3779644730092272),
 (25535, 0.3779644730092272),
 (25788, 0.3779644730092272),
 (25815, 0.3779644730092272),
 (25840, 0.3779644730092272),
 (25858, 0.3779644730092272),
 (25859, 0.3779644730092272),
 (25948, 0.3779644730092272),
 (26052, 0.3779644730092272),
 (26064, 0.3779644730092272),
 (26112, 0.3779644730092272),
 (26339, 0.3779644730092272),
 (26354, 0.3779644730092272),
 (26414, 0.3779644730092272),
 (26438, 0.3779644730092272),
 (26723, 0.3779644730092272),
 (26872, 0.3779644730092272),
 (26924, 0.3779644730092272),
 (27050, 0.3779644730092272),
 (27262, 0.3779644730092272),
 (27436, 0.3779644730092272),
 (27506, 0.3779644730092272),
 (27510, 0.3779644730092272),
 (27515, 0.3779644730092272),
 (27625, 0.3779644730092272),
 (27666, 0.3779644730092272),
 (27805, 0.3779644730092272),
 (27817, 0.3779644730092272),
 (27971, 0.3779644730092272),
 (28020, 0.3779644730092272),
 (28135, 0.3779644730092272),
 (28170, 0.3779644730092272),
 (28244, 0.3779644730092272),
 (28329, 0.3779644730092272),
 (28423, 0.3779644730092272),
 (28461, 0.3779644730092272),
 (28586, 0.3779644730092272),
 (28762, 0.3779644730092272),
 (28771, 0.3779644730092272),
 (28876, 0.3779644730092272),
 (29017, 0.3779644730092272),
 (29061, 0.3779644730092272),
 (29071, 0.3779644730092272),
 (29075, 0.3779644730092272),
 (29087, 0.3779644730092272),
 (29091, 0.3779644730092272),
 (29099, 0.3779644730092272),
 (29123, 0.3779644730092272),
 (29142, 0.3779644730092272),
 (29147, 0.3779644730092272),
 (29149, 0.3779644730092272),
 (29150, 0.3779644730092272),
 (29152, 0.3779644730092272),
 (29157, 0.3779644730092272),
 (29166, 0.3779644730092272),
 (29174, 0.3779644730092272),
 (29179, 0.3779644730092272),
 (29181, 0.3779644730092272),
 (29184, 0.3779644730092272),
 (29217, 0.3779644730092272),
 (29454, 0.3779644730092272),
 (29679, 0.3779644730092272),
 (29681, 0.3779644730092272),
 (29788, 0.3779644730092272),
 (29885, 0.3779644730092272),
 (30081, 0.3779644730092272),
 (30159, 0.3779644730092272),
 (30172, 0.3779644730092272),
 (30304, 0.3779644730092272),
 (30437, 0.3779644730092272),
 (30568, 0.3779644730092272),
 (30577, 0.3779644730092272),
 (30589, 0.3779644730092272),
 (30597, 0.3779644730092272),
 (30639, 0.3779644730092272),
 (30654, 0.3779644730092272),
 (30681, 0.3779644730092272),
 (30688, 0.3779644730092272),
 (30693, 0.3779644730092272),
 (30716, 0.3779644730092272),
 (30728, 0.3779644730092272),
 (30734, 0.3779644730092272),
 (30752, 0.3779644730092272),
 (30765, 0.3779644730092272),
 (30767, 0.3779644730092272),
 (30814, 0.3779644730092272),
 (30830, 0.3779644730092272),
 (30862, 0.3779644730092272),
 (31041, 0.3779644730092272),
 (31049, 0.3779644730092272),
 (31074, 0.3779644730092272),
 (31219, 0.3779644730092272),
 (31297, 0.3779644730092272),
 (31336, 0.3779644730092272),
 (31375, 0.3779644730092272),
 (31430, 0.3779644730092272),
 (31572, 0.3779644730092272),
 (31606, 0.3779644730092272),
 (31610, 0.3779644730092272),
 (31708, 0.3779644730092272),
 (31887, 0.3779644730092272),
 (31976, 0.3779644730092272),
 (31997, 0.3779644730092272),
 (32013, 0.3779644730092272),
 (32103, 0.3779644730092272),
 (32225, 0.3779644730092272),
 (32243, 0.3779644730092272),
 (32254, 0.3779644730092272),
 (32266, 0.3779644730092272),
 (32365, 0.3779644730092272),
 (32374, 0.3779644730092272),
 (32412, 0.3779644730092272),
 (32452, 0.3779644730092272),
 (32531, 0.3779644730092272),
 (32532, 0.3779644730092272),
 (32738, 0.3779644730092272),
 (32836, 0.3779644730092272),
 (32854, 0.3779644730092272),
 (32876, 0.3779644730092272),
 (32930, 0.3779644730092272),
 (33024, 0.3779644730092272),
 (33211, 0.3779644730092272),
 (33445, 0.3779644730092272),
 (33575, 0.3779644730092272),
 (33664, 0.3779644730092272),
 (33773, 0.3779644730092272),
 (33796, 0.3779644730092272),
 (33994, 0.3779644730092272),
 (34056, 0.3779644730092272),
 (34233, 0.3779644730092272),
 (34296, 0.3779644730092272),
 (34323, 0.3779644730092272),
 (34328, 0.3779644730092272),
 (34438, 0.3779644730092272),
 (34525, 0.3779644730092272),
 (34581, 0.3779644730092272),
 (34582, 0.3779644730092272),
 (34607, 0.3779644730092272),
 (34764, 0.3779644730092272),
 (34789, 0.3779644730092272),
 (34896, 0.3779644730092272),
 (35007, 0.3779644730092272),
 (35188, 0.3779644730092272),
 (35189, 0.3779644730092272),
 (35338, 0.3779644730092272),
 (35339, 0.3779644730092272),
 (35340, 0.3779644730092272),
 (35341, 0.3779644730092272),
 (35400, 0.3779644730092272),
 (35401, 0.3779644730092272),
 (35518, 0.3779644730092272),
 (35519, 0.3779644730092272),
 (35640, 0.3779644730092272),
 (35641, 0.3779644730092272),
 (36026, 0.3779644730092272),
 (36027, 0.3779644730092272),
 (36130, 0.3779644730092272),
 (36131, 0.3779644730092272),
 (36166, 0.3779644730092272),
 (36167, 0.3779644730092272),
 (36426, 0.3779644730092272),
 (36427, 0.3779644730092272),
 (36554, 0.3779644730092272),
 (36555, 0.3779644730092272),
 (36654, 0.3779644730092272),
 (36655, 0.3779644730092272),
 (36718, 0.3779644730092272),
 (36719, 0.3779644730092272),
 (36870, 0.3779644730092272),
 (36871, 0.3779644730092272),
 (36872, 0.3779644730092272),
 (36873, 0.3779644730092272),
 (36956, 0.3779644730092272),
 (36964, 0.3779644730092272),
 (37136, 0.3779644730092272),
 (37241, 0.3779644730092272),
 (37380, 0.3779644730092272),
 (37495, 0.3779644730092272),
 (37573, 0.3779644730092272),
 (37667, 0.3779644730092272),
 (37695, 0.3779644730092272),
 (37735, 0.3779644730092272),
 (37743, 0.3779644730092272),
 (37775, 0.3779644730092272),
 (37884, 0.3779644730092272),
 (38062, 0.3779644730092272),
 (38147, 0.3779644730092272),
 (38166, 0.3779644730092272),
 (38204, 0.3779644730092272),
 (38344, 0.3779644730092272),
 (38356, 0.3779644730092272),
 (38422, 0.3779644730092272),
 (38423, 0.3779644730092272),
 (38425, 0.3779644730092272),
 (38426, 0.3779644730092272),
 (38427, 0.3779644730092272),
 (38543, 0.3779644730092272),
 (38546, 0.3779644730092272),
 (38587, 0.3779644730092272),
 (38599, 0.3779644730092272),
 (38665, 0.3779644730092272),
 (38671, 0.3779644730092272),
 (38673, 0.3779644730092272),
 (38719, 0.3779644730092272),
 (38840, 0.3779644730092272),
 (38926, 0.3779644730092272),
 (39142, 0.3779644730092272),
 (39171, 0.3779644730092272),
 (39182, 0.3779644730092272),
 (39191, 0.3779644730092272),
 (39285, 0.3779644730092272),
 (39286, 0.3779644730092272),
 (39556, 0.3779644730092272),
 (39949, 0.3779644730092272),
 (40008, 0.3779644730092272),
 (40139, 0.3779644730092272),
 (40254, 0.3779644730092272),
 (40260, 0.3779644730092272),
 (40327, 0.3779644730092272),

In [ ]:
def recommend(movie):
    movie_index=movies_new[movies_new['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(movies_new.iloc[i[0]].title)

In [ ]:
recommend('Mom')

Dirty Love
My Little Business
Cabin Boy
House Party 3
Stefano Quantestorie

In [ ]:
import pickle
pickle_out=open("vectors.pkl","wb")
pickle.dump(vectors,pickle_out)
pickle_out.close()

In [ ]:
movies_new.to_csv('movies_data.csv',index=False)